body {
    --primary-color: #F9FAF8;
    --secondary-color: #1F2937;
    --tertiary-color: #E5E7EB;
    margin: 0px;
    
    
}

#header,
footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#header {
    height: 500px;
    padding: 10px 50px;
}

h1 {
    font-size: 3rem;
    /* 1 rem is 16 pixels. 3x16=48 pixels*/
    font-style: bold;
    color: var(--primary-color);
}

.sub-hero-text,
.nav-link {
    font-size: 18px;
    color: var(--tertiary-color);
}

h2 {
    font-size: 24px;
    color: var(--primary-color);

}

button, .call-to-action {
    background-color: #3882F6;
    color: var(--primary-color);
}

.main-button {
    border: none;
    color: white;
    padding: 9px 40px;
    font-size: 16px;  
    border-radius: 10px;
}

h3 {
    color: var(--secondary-color);
    font-size: 2rem;
    font-style: bold;
}

.quote {
    background-color: var(--tertiary-color);
    height: 430px;
    display: flex;
   flex-direction: column;
   justify-content: center;
padding: 0 50px;   
}

.quote-text-container {
    font-size: 2rem;
    font-style: italic;
    color: var(--secondary-color);
    display: flex;
    justify-content: flex-start;
}

.quote-by-container {
    font-size: 2rem;
    font-style: bold;
    color: #1f2937;
    display: flex;
    justify-content: flex-end;
    
}

header {
    display: flex;
    justify-content: space-between;


}

ul {
    display: flex;
    

}

li {
    padding-right: 25px;
    list-style: none;
}

.main-container {
    display: flex;
    justify-content: space-between;
    
    padding-top: 75px
}

.img-main {

    width: 500px;
}

.information-section {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.figure-container {
    display: flex;
    justify-content: space-around;
padding: 0px 150px;

}

.img-information {
    width: 200px;
    border-radius: 10px;
    
}

.call-to-action {
    margin: 50px 100px;
    display: flex;
    justify-content: center;
    padding: 25px 50px;
}

.call-to-action-text {
    font-weight: bold;
}

.call-to-action-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
}


.call-to-action-button {
    border: 2px solid white;
    color: white;
    padding: 5px 40px;
    font-size: 16px;  
    border-radius: 10px;
}

footer {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}